/*GRID*/
$grid-padding: 1rem;
$max-width: 1200px;

/*FONT*/
$font: Helvetica,Verdana,sans-serif;
$font-title: Helvetica,Verdana,sans-serif;

/*COULEUR*/
$text-color: #424242;
$primarycolor: red;

//HEADER
$bg-header: white;
$text-color-header: #252525;
//FOOTER
$bg-footer: #252525;
$text-color-footer: white;
